#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <input/processors/speed_scaler.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NUFU 1
#define SYM 2
#define NAV 3
#define MED 4
#define POI 5
#define SCR 6
#define SNI 7
#define LED_HUE_UP 0
#define LED_HUE_DN 1
#define LED_SAT_UP 2
#define LED_SAT_DN 3
#define LED_BRI_UP 4
#define LED_BRI_DN 5

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball_split>;
        input-processors = <&zip_xy_speed_scaler>;

        scroll {
            layers = <SCR>;
            input-processors =
                <&zip_xy_scaler 1 3>,
                <&zip_xy_to_scroll_mapper>,
                <&zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT)>;
        };

        snipe {
            layers = <SNI>;
            input-processors = <&zip_xy_scaler 1 5>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <240>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <240>;
            quick-tap-ms = <150>;
            hold-while-undecided;
            bindings = <&mo>, <&kp>;
        };

        ledsync: ledsync {
            compatible = "zmk,behavior-led-layer-sync";
            #binding-cells = <1>;
        };

        ledhsb: ledhsb {
            compatible = "zmk,behavior-led-hsb-adjust";
            #binding-cells = <1>;
        };
    };

    combos {
        compatible = "zmk,combos";

        I3 {
            bindings = <&tog 8>;
            key-positions = <33 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0

        Base {
            label = "Base";
            bindings = <
  &kp Q       &kp W       &kp E           &kp R          &kp T           &kp Y      &kp U              &kp I        &kp O       &kp P
  &hm LGUI A  &hm LALT S  &hm LCTRL D     &hm LSHIFT F   &kp G           &kp H      &hm RSHFT J        &hm RCTRL K  &hm RALT L  &hm RGUI SEMICOLON
  &lt POI Z   &kp X       &kp C           &kp V          &kp B           &kp N      &kp M              &kp COMMA    &kp DOT     &lt POI SLASH
                          &lt MED ESCAPE  &lt NAV SPACE  &lt NUFU TAB    &kp ENTER  &lt SYM BACKSPACE
            >;
        };

        // 1

        NuFu {
            label = "Numeral/Function";
            bindings = <
  &trans  &kp F7  &kp F8  &kp F9  &kp F12    &trans  &kp N7  &kp N8  &kp N9  &kp DELETE
  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans  &kp N4  &kp N5  &kp N6  &kp BACKSPACE
  &trans  &kp F1  &kp F2  &kp F3  &kp F10    &trans  &kp N1  &kp N2  &kp N3  &trans
                  &trans  &trans  &trans     &trans  &kp N0
            >;
        };

        // 2

        Symbol {
            label = "Symbol";
            bindings = <
  &kp TILDE  &kp AMPS  &kp STAR   &trans     &kp PLUS     &trans  &kp LBRC  &kp RBRC  &trans   &kp PIPE
  &kp MINUS  &kp DLLR  &kp PRCNT  &kp CARET  &kp EQUAL    &trans  &kp LPAR  &kp RPAR  &kp DQT  &kp APOS
  &kp UNDER  &kp EXCL  &kp AT     &kp HASH   &kp GRAVE    &trans  &kp LBKT  &kp RBKT  &trans   &kp BSLH
                       &trans     &trans     &trans       &trans  &trans
            >;
        };

        // 3

        Navigation {
            label = "Navigation";
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans    &trans         &kp TAB      &trans     &kp DELETE
  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &kp BACKSPACE
  &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &kp INS
                  &trans  &trans  &trans    &trans    &trans
            >;
        };

        // 4

        Media {
            label = "Media";
            bindings = <
  &trans      &trans        &bt BT_CLR_ALL  &trans            &trans        &trans      &trans            &bt BT_CLR_ALL  &trans        &trans
  &kp C_PREV  &kp C_VOL_DN  &kp C_MUTE      &kp C_VOL_UP      &kp C_NEXT    &kp C_PREV  &kp C_VOL_DN      &kp C_MUTE      &kp C_VOL_UP  &kp C_NEXT
  &trans      &trans        &trans          &trans            &trans        &trans      &trans            &trans          &trans        &trans
                            &trans          &kp C_PLAY_PAUSE  &kp C_STOP    &kp C_STOP  &kp C_PLAY_PAUSE
            >;
        };

        // 5

        Pointer {
            label = "Pointer";
            bindings = <
  &trans    &trans    &trans     &trans      &trans       &trans     &trans     &trans     &trans    &trans
  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHIFT  &trans       &trans     &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
  &trans    &mo SCR   &mo SNI    &trans      &trans       &trans     &trans     &tog SNI   &tog SCR  &trans
                      &mkp RCLK  &mkp LCLK   &mkp MCLK    &mkp MCLK  &mkp LCLK
            >;
        };

        // 6

        Scroll {
            label = "Scroll";
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans    &trans  &trans
            >;
        };

        // 7

        Sniper {
            label = "Sniper";
            bindings = <
  &trans  &trans  &ledhsb LED_HUE_UP  &ledhsb LED_SAT_UP  &ledhsb LED_BRI_UP    &ledhsb LED_HUE_DN  &ledhsb LED_SAT_DN  &ledhsb LED_BRI_DN  &trans  &trans
  &trans  &trans  &trans              &trans              &trans                &trans              &trans              &trans              &trans  &trans
  &trans  &trans  &trans              &trans              &trans                &trans              &trans              &trans              &trans  &trans
                  &trans              &trans              &trans                &trans              &trans
            >;
        };

        I3 {
            bindings = <
  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
  &trans        &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans        &trans
  &trans        &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans        &trans
                              &trans        &trans        &trans          &trans        &trans
            >;
        };
    };
};
